<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BackyardBBQ{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ asset('/image/logo.png') }}" alt="Logo van de website.">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/huren">Huren</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="/orders">orders</a>
                    </li>
                {% endif %}
                </ul>
            </div>
            <form class="reset-margins form-inline">
                <ul class="navbar-nav">
                    <a href="/checkout"><li class="nav-item" id="cart-container"></li></a>
                    <li class="nav-item">
                     {% if app.user %}
                        <a class="nav-link" href="/logout">logout</a>
                    {% else %}
                        <a class="nav-link" href="/login">Inloggen</a>
                    {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </form>
            </div>
        </nav>
    
        {% block body %}{% endblock %}
    </body>
</html>
