{% extends 'base.html.twig' %}

{% block title %} - accessoire{% endblock %}

{% block body %}
<div class="container" id="container_add_accessoires">
    <div class="row">
        <div class="col-12">Kies accessoires bij je barbecue:</div>
    {% for element in data %}
        <div class="col-4"> <a href="/cart/add/{{ element.id }}">
                <div class="accessoire_name">{{ element.name }}</div>
                <div class="accessoire_description">{{ element.description }}</div>
        </a></div>
    {% endfor %}
        <div class="col-4" id="accessoire_nothing"><a href="">
                Niks.
        </a></div>
    </div>
</div>
{% endblock %}
