{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="container">
    <div id="order-view" class="row">
        <div class="col-12" 
        id="renting_table_custom">
        <div class="loader_rent_page" id="loader">
            <div id="shadow"></div>
            <div id="box"></div>
        </div>
        </div>
    </div>
</div>

{% endblock %}
