{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="container">
    <div id="order-view" class="row">
        <div class="col-2" style="background:red;">
        d
        </div>
        <div class="col-10" 
        {# id="renting_table_custom" #}
         style="background:blue;">
        <div id="loader">
        <div id="shadow"></div>
        <div id="box"></div>
        </div>
        </div>
    </div>
</div>

{% endblock %}
